:root {
  --mainfontcolor: #212121;
  --mainfont-size: 14px;
  --focus-active-hovercolor: #2196f3;
  --darkbd-fontcolor: #fff;
  --shadowfontcolor: #757575;
}
/**Globalne style **/
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: var(--mainfontcolor);
  margin: 0 auto;
  max-width: 1600px;
  font-size: 16px;
}
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  width: 1200px;
}
.section {
  padding-block: 93px;
}
/**Logo w stópce i w header **/
.footer-logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--darkbd-fontcolor);
  text-decoration: none;
}
.head-logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: black;
  margin: 0;
  margin-right: 93px;
}
.webname {
  color: var(--focus-active-hovercolor);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
/** Header (Nawigacja górna strony) **/
.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-border {
  border-bottom: 1px solid #ececec;
}
.menu {
  display: flex;
  gap: 23px;
  align-items: baseline;
  justify-content: space-between;
}
.submenu {
  font-weight: 500;
  font-size: var(--mainfont-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--mainfontcolor);
  text-decoration: none;
  padding-right: 32px;
}
.submenu:hover,
.submenu:focus {
  color: var(--focus-active-hovercolor);
}
.submenu:active {
  color: var(--focus-active-hovercolor);
}
.contacts {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: var(--mainfont-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--shadowfontcolor);
  text-decoration: none;
  fill:var(--shadowfontcolor);
}
.contacts:hover,
.contacts:focus {
  color: var(--focus-active-hovercolor);
  fill: var(--focus-active-hovercolor);
}
.list-style {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
}
.hd-section {
  padding-top: 24px;
  padding-bottom: 25px;
}
/** Przyciski w Main **/
.navbutton {
  font-weight: 500;
  line-height: 1.625;
  background-color: #f5f4fa;
  cursor: pointer;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
}
.navbutton:hover,
.navbutton:focus {
  background: var(--focus-active-hovercolor);
  color: var(--darkbd-fontcolor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.box-icons{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  fill:  #AFB1B8;
  border-radius: 5%;
  box-sizing: border-box;
  padding: 16px 32px;
}
.box-icons:hover,
.box-icons:focus{
  fill: #2196f3;
  border-color:  #2196f3;
  cursor: pointer;
}
.mainbtn {
  background-color: var(--focus-active-hovercolor);
  color: var(--darkbd-fontcolor);
  font-weight: 700;
  line-height: 1.875;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 41px;
  margin-bottom: 200px;
}
.pagenav {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 50px;
}
/** Wnętrze Stron **/
.nav-icons{
  margin-right: 10px;
}
.nav-icons:hover,
.nav-icons:focus{
  color: var(--focus-active-hovercolor);
}
.upper-body {
  background-color: #fff;
}
.pic-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--mainfontcolor);
  margin: 0;
}

.pic-text {
  line-height: 1.875;
  color: var(--shadowfontcolor);
  background-color: #fff;
  padding: 20px 24px;
}
.pictures {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
}
.pictures:hover,
.pictures:focus{ 
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
cursor: pointer;
}
.mainbgcolor {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(0,0,0, 0.5),rgba(0,0,0, 0.5)),url(../images/main-bg-picture.jpg);
  background-size: 1600px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.lorem-bg{ 
  background-color:#F5F4FA;
  width: 270px;
  height: 120px;
  padding-block: 25px;
  padding-inline: 100px;
  margin-bottom: 30px;
}
.team-icons{
  display: flex;
  gap: 10px;
  padding-top: 16px;
  padding-bottom: 30px;
}
.team-social-media{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.team-social-media:hover,
.team-social-media:focus{
  background-color: #2196f3;
  fill: #fff;
}
.text-title {
  font-weight: 700;
  font-size: var(--mainfont-size);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
}
.text {
  font-size: var(--mainfont-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--shadowfontcolor);
}
.head-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--mainfontcolor);
  margin-top: 0;
  margin-bottom: 50px;
}
.pic-people {
  font-weight: 500;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--mainfontcolor);
  margin: 0;
  padding-top: 30px;
  text-align: center;
}
.ppl-jobs {
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--shadowfontcolor);
  text-align: center;
}
.main-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--darkbd-fontcolor);
  margin: 0;
  padding-top: 200px;
  padding-bottom: 30px;
}
.images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.img-bg {
  padding-top: 93px;
}
.about {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0;
}
.workers {
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-style {
  background: #e5e5e5;
}
.mid-body {
  background-color: #f5f4fa;
}
.team-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0 15px;
}
.pic-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #fff;
  gap: 30px;
}
.main-content-color {
  background: #fff;
}
.lower-body{
  background-color: #fff;
  padding-inline: 215px;
  
}
.lower-icons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  list-style: none;
  padding: 0;
}
/** Zawartość Stopki **/
.foot {
  color: rgba(255, 255, 255, 0.6);
  font-size: var(--mainfont-size);
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.71;
  text-decoration: none;
}
.foot:hover,
.foot:focus {
  color: var(--focus-active-hovercolor);
}
.footaddres {
  font-size: var(--mainfont-size);
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--darkbd-fontcolor);
  padding-top: 20px;
  padding-bottom: 4.5px;
  margin: 0;
}
.footer-bg {
  background: #2f303a;
  display: flex;
  justify-content: start;
  flex-direction: row;
  margin: 0;
}
.section-ft {
  padding-top: 60px;
  padding-bottom: 60px;
}
.ft-margin {
  margin-top: 0;
  margin-bottom: 0;
}
.contacts-ft{
  padding-block: 4.5px;
  margin: 0;
}
.join{
  
  font-weight: 700;
  font-size: var(--mainfont-size);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.foot-panel{
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: baseline;
  gap: 70px;
}
.icons{
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 10px;
}
.social-media{
  display: block;
  width: 44px;
  height: 44px;
  margin: 0;
  border-radius: 50%;
  fill: #AFB1B8;
}
.social-media use{
  display: block;
  transform: translate(25%, 25%);
}
.social-media:hover,
.social-media:focus{
  fill: #fff;
  background-color: #2196f3;
  cursor: pointer;
}
.social-media-ft{
  display: block;
  width: 44px;
  height: 44px;
  margin: 0;
  border-radius: 50%;
  fill: #fff;
  background: rgba(255, 255, 255, 0.1);
}
.social-media-ft use{
  display: block;
  transform: translate(25%, 25%);
}
.social-media-ft:hover,
.social-media-ft:focus{
  background-color: #2196f3;
  cursor: pointer;
}